body
{
    background: linear-gradient(to right,red,blue);
}



#h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 20px;
}
.csv-file:hover
{
    color:black;
}
.choose-file:hover
{
    color: black;
}