body {
	background: rgb(201,214,255);
  background: linear-gradient(90deg, rgba(201,214,255,1) 0%, rgba(226,226,226,1) 100%);
	color: white;
	font-weight: 400;
	font-size: 20px;
}

.wrapper {
	width: 80%;
	border-radius: 10px;
	padding: 30px;
	margin: 5% auto;
}

#h1 {
  font-family:Lobster;
	font-size: 2.5rem;
  color: #2c3e50;
	text-align: center;
	padding: 10px;
	border: 2px solid #c9d6ff;
  border-radius: 0 10px 0 10px;
}

#p1 {
	text-align: center;
  color: #2c3e50;
  
}

.input_container {
	width: 30%;
	margin: 0 auto;
}

.choose-file, .csv-file {
	border: none;
	outline: none;
	font-size: 20px;
	border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.csv-file {
	float:left;
}

#dwn-btn, #csv-file {
	display: none;
}

span {
	padding: 2px;
	display: inline;
	border-radius: 2px;
	border: 0;
	margin: 0 2px;
	background: rgba(255, 90, 90, 0.931);
	box-sizing: content-box;
	line-height: 25px;
}

div#results {
	white-space: pre;
	font-family: Consolas;
}

th, td {
	border-bottom: 1px solid #ddd;
}

ul {
  font-size: 15px;
	display: inline-grid;
	grid-auto-flow: row;
	grid-column-gap:24px;
  grid-row-gap:1px;
	justify-items: center;
	margin: auto;
}

@media (min-width: 500px) {
	ul {
		grid-auto-flow: column;
	}
}
li:last-child {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

li:hover~li div {
	animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

.footer {
  display: flex;
	background-color:green;
	font-family: Menlo, monospace;
}

@keyframes wave-animation {
	0%, 100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(20deg);
	}
	75% {
		transform: rotate(-15deg);
	}
}

hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}

hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

.pure {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.pure td, .pure th {
	border: 1px solid #ddd;
	padding: 8px;
}

.pure tr:nth-child(even) {
	background-color: rgba(255, 90, 90, 0.931);
}

.pure tr:hover {
	background-color: #ddd;
}

.pure th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgba(255, 70, 70);
	color: white;
}

#adjacency_matrix:hover {
	transform: scale(1.2);
}

#adjacency_matrix {
	transition: all 1s;
	transform-origin: 50% 50%;
}

#graph:hover {
	transform: scale(1.2);
}

#graph {
	transition: all 1s;
	transform-origin: 50% 50%;
}

.hide {
	display: none;
  background-color: rgba(255, 90, 90, 0.931);
}

.myDIV:hover+.hide {
	display: block;
}

svg#adjacency_matrix {
	border: 0px solid gray;
	background-color: rgba(255, 90, 90, 0.931);
}

svg#graph {
	border: 0px solid gray;
	background-color: rgba(255, 90, 90, 0.931);
}

g.am-axis text {
	font-size: 8px;
}

.domain {
	fill: none;
}

.tick>line {
	stroke: black;
	stroke-width: 1px;
	stroke-opacity: 0.25;
}

/* The emerging W3C standard
	  that is currently Firefox-only */

* {
	scrollbar-width: thin;
	scrollbar-color: white green;
}

/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: green;
}

*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 20px;
	border: 3px solid green;
}

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

text {
	font-family: sans-serif;
	font-size: 10px;
}
#myBar {
	width:0%;
	height: 25px;
	background-color: #4CAF50;
}

h2 {
  cursor:pointer;
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 32px;
	text-align:center;
  margin-top:25px;
  margin-bottom:25px;
  
}

li a:link {
  color: white;
}

li a:visited {
  color: white;
}
li a:hover {
  color: red;
}
li a:active {
  color: blue;
} 
a:link {
  color: green;
}

a:visited {
  color: green;
}
a:hover {
  color: red;
}
a:active {
  color: blue;
} 
