/* https://coolors.co/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff */

/* VARIABLES */
/* VARIABLES */

:root {
  --strong-purple: #9d4edd;
  --light-purple: #c77dff;
  --light-gray: hsl(0, 0%, 94%);
  --light-blue: rgb(65, 83, 247);
  --border-radius: 5px;
  --default-transition: 150ms;
}

/* GLOBAL */
/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

body {
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Roboto', 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #555;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--strong-purple);
}

hr {
  border: 0;
  border-top: 1px solid #dfdfdf;
  margin: 1.45rem 0;
}

.button-strong {
  cursor: pointer;
  color: #eee;
  padding: .6rem 1rem;
	font-size: 1.1rem;
	border-radius: var(--border-radius);
  background-color: var(--strong-purple);
  transition: var(--default-transition);
}
.button-strong:hover {
  color: #222;
  background-color: var(--light-purple);
}

.button-light {
  cursor: pointer;
  color: #333;
  padding: .4rem .6rem;
  font-size: 1.05rem;
  font-weight: normal;
  border-radius: var(--border-radius);
  border: var(--strong-purple) solid 1.5px;
  background-color: transparent;
  width: max-content;
  transition: var(--default-transition);
}

.button-light:hover {
  color: #111;
  background-color: var(--light-purple);
}

/* STYLES */
/* STYLES */

/* NAVBAR */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--light-purple);
.link {
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--strong-purple);
  border-radius: 20px;
}

/* SECTION 1 (LEFT MENU) */

.wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 96vh;
}

.section-1 {
  width: 25%;
  height: 100%;
  background-color: var(--light-gray);
  border-right: #CCC solid 1.5px;
  padding: 3rem 1rem 1rem;
}

#h1 {
  color: var(--strong-purple);
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.1;
  margin: 0 0 .8rem;
}

#p1 {
  font-size: 1.15rem;
  line-height: 1.60;
}

.input_container {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
}

.input_container > .button-strong:first-child {
  margin-right: 1rem;
}

#dwn-btn,
#csv-file {
  display: none;
}

/* SECTION 2 (RIGHT MAIN) */

.section-2 {
  width: 75%;
  height: 100%;
  background-color: transparent;
  padding: 3rem 1rem 1rem;
}

#myProgress {
  width: 100%;
  border: #CCC solid 1.5px;
  border-radius: var(--border-radius);
  padding: 0;
}

#myBar {
  width: 1%;
  height: 25px;
  background-color: #4caf50;
  border-radius: var(--border-radius);
}

div#results {
  white-space: pre;
}

/* FOOTER */

.footer {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  background-color: var(--light-gray);
  border-top: #CCC solid 1.5px;
  padding: .4rem;
}

.footer ul {
  display: flex;
  flex-direction: row;
  margin: auto;
  list-style: none;
}

.footer ul li {
  margin-right: 1rem;
}
.footer ul li:last-of-type {
  margin-right: 0;
}

.footer ul:hover div {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */

/* TABLET SIZES */

@media (max-width: 1000px) {
  .section-1 {
    width: 48%;
    padding: 2.5rem 1rem 1rem;
  }

  .section-2 {
    width: 52%;
    padding: 2.5rem 1rem 1rem;
  }
}

/* MOBILE SIZES */

@media (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .section-1 {
    width: 93%;
    padding: 1rem;
  }

  .input_container {
    margin-top: .8rem;
    justify-content: space-between;
  }

  .section-2 {
    width: 93%;
    padding: 1rem 0 4rem;
  }

  .footer {
    font-size: .85rem;
  }
hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* BELOW IS JUST FOR DEMO STYLING */
/* BELOW IS JUST FOR DEMO STYLING */

.pure {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.pure td,
.pure th {
  border: 1px solid #ddd;
  padding: 8px;
}

.pure tr:nth-child(even) {
  background-color: rgba(255, 90, 90, 0.931);
}

.pure tr:hover {
  background-color: #ddd;
}

.pure th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(255, 70, 70);
  color: white;
}

#adjacency_matrix:hover {
  transform: scale(1.2);
}

#adjacency_matrix {
  transition: all 1s;
  transform-origin: 50% 50%;
}

#graph:hover {
  transform: scale(1.2);
}

#graph {
  transition: all 1s;
  transform-origin: 50% 50%;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

svg#adjacency_matrix,
svg#graph {
  margin: 0 6rem;
  border: 0px solid gray;
  background-color: rgba(255, 90, 90, 0.931);
}

/* svg#graph {
  border: 0px solid gray;
  background-color: rgba(255, 90, 90, 0.931);
} */

g.am-axis text {
  font-size: 8px;
}

.domain {
  fill: none;
}

.tick > line {
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: 0.25;
}

/* The emerging W3C standard
	  that is currently Firefox-only */

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(29, 17, 78) rgba(255, 90, 90, 0.931);
}

/* Works on Chrome/Edge/Safari */

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}